<div class="container">
  <div class="container-calculator">
    <div class="value-calculator">
      <div id="result" #result></div>
    </div>
    <div class="fields-calculator">
      <table>
        <tbody>
          <tr>
            <td>
              <button aria-label="Limpar" (click)="clean()">C</button>
            </td>
            <td>
              <button aria-label="Memória menos" (click)="back()">
                <img src="images/backspace.svg" alt="Backspace" />
              </button>
            </td>
            <td>
              <button aria-label="Dividir" (click)="insert('/')">/</button>
            </td>
            <td>
              <button aria-label="Multiplicar" (click)="insert('*')">X</button>
            </td>
          </tr>

          <tr>
            <td>
              <button aria-label="Número 7" (click)="insert('7')">7</button>
            </td>
            <td>
              <button aria-label="Número 8" (click)="insert('8')">8</button>
            </td>
            <td>
              <button aria-label="Número 9" (click)="insert('9')">9</button>
            </td>
            <td>
              <button aria-label="Subtrair" (click)="insert('-')">-</button>
            </td>
          </tr>

          <tr>
            <td>
              <button aria-label="Número 4" (click)="insert('4')">4</button>
            </td>
            <td>
              <button aria-label="Número 5" (click)="insert('5')">5</button>
            </td>
            <td>
              <button aria-label="Número 6" (click)="insert('6')">6</button>
            </td>
            <td>
              <button aria-label="Somar" (click)="insert('+')">+</button>
            </td>
          </tr>

          <tr>
            <td>
              <button aria-label="Número 1" (click)="insert('1')">1</button>
            </td>
            <td>
              <button aria-label="Número 2" (click)="insert('2')">2</button>
            </td>
            <td>
              <button aria-label="Número 3" (click)="insert('3')">3</button>
            </td>
            <td rowspan="2">
              <button
                aria-label="Igual"
                style="height: 112px"
                (click)="calculate()"
              >
                =
              </button>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <button
                aria-label="Número 0"
                style="width: 112px"
                (click)="insert('0')"
              >
                0
              </button>
            </td>
            <td>
              <button aria-label="Ponto decimal" (click)="insert('.')">
                .
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
