@import "../../../color-variables.scss";

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $bg-container;

  img {
    margin: 10px;
    cursor: pointer;
  }
}

.dark-theme {
  background-color: $bg-secundary;
}
.light-theme {
  background-color: $bg-primary;
}
