<div class="container">
  <div class="container-calculator">
    <div class="value-calculator">
      <!-- <label for="result">Resultado:</label> -->
      <input id="result" type="number" placeholder="8.74" />
    </div>
    <div class="fields-calculator">
      <section>
        <article class="line line-1">
          <button aria-label="Dividir">/</button>
          <button aria-label="Memória menos">m-</button>
          <button aria-label="Memória mais">m+</button>
          <button aria-label="Tox">tox</button>
        </article>
        <article class="line line-2">
          <button aria-label="Multiplicar">x</button>
          <button aria-label="Número 7">7</button>
          <button aria-label="Número 8">8</button>
          <button aria-label="Número 9">9</button>
          <button aria-label="Porcentagem">%</button>
        </article>
        <article class="line line-3">
          <button aria-label="Subtrair">-</button>
          <button aria-label="Número 4">4</button>
          <button aria-label="Número 5">5</button>
          <button aria-label="Número 6">6</button>
          <button aria-label="Mais ou menos">+/-</button>
        </article>
      </section>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
