<div class="container">
  <div class="container-calculator">
    <div class="value-calculator">
      <input id="result" type="number" placeholder="8.74" />
    </div>
    <div class="fields-calculator">
      <table>
        <tbody>
          <tr>
            <td>
              <button aria-label="Limpar">C</button>
            </td>
            <td>
              <button aria-label="Memória menos">⌫</button>
            </td>
            <td>
              <button aria-label="Dividir">/</button>
            </td>
            <td>
              <button aria-label="Multiplicar">*</button>
            </td>
          </tr>

          <tr>
            <td>
              <button aria-label="Número 7">7</button>
            </td>
            <td>
              <button aria-label="Número 8">8</button>
            </td>
            <td>
              <button aria-label="Número 9">9</button>
            </td>
            <td>
              <button aria-label="Subtrair">-</button>
            </td>
          </tr>

          <tr>
            <td>
              <button aria-label="Número 4">4</button>
            </td>
            <td>
              <button aria-label="Número 5">5</button>
            </td>
            <td>
              <button aria-label="Número 6">6</button>
            </td>
            <td>
              <button aria-label="Somar">+</button>
            </td>
          </tr>

          <tr>
            <td>
              <button aria-label="Número 1">1</button>
            </td>
            <td>
              <button aria-label="Número 2">2</button>
            </td>
            <td>
              <button aria-label="Número 3">3</button>
            </td>
            <td rowspan="2">
              <button aria-label="Igual" [ngStyle]="{ height: '112px' }">
                =
              </button>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <button aria-label="Número 0" [ngStyle]="{ width: '112px' }">
                0
              </button>
            </td>
            <td>
              <button aria-label="Ponto decimal">.</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
