$bg-container: #aabfeb;

/* Input */
$input-border-color: #e4e5e7;
$input-color: #c7d8f9;

/* Button */
$bg-button: #f5f5f5;

/*
/* Themes
/*

/* White */
$bg-primary: #fafbfe;

/* Dark */
$bg-secundary: #26314c;
